학습 출처 : < 머신러닝을 위한 파이썬 > (네이버 부스트코스)

# Pythonic Code

⚡ 파이썬 스타일 코드 (pythonic code)
- 파이썬 스타일의 코딩 기법
- 파이썬 특유의 문법을 활용하여 효율적으로 코드 표현
- 고급 코드를 작성할수록 더 많이 필요해짐
- 다른 사람의 코드에 대한 이해도를 위해
- 효율 (단순 for loop append보다 list가 조금 더 빠름) <br>
☑ Split & Join  /  List Comprehension  /  Enumerate & Zip

> Split & Join

In [11]:
# Join 함수 - String List를 합쳐 하나의 String으로 반환할 때 사용
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors) # ''안에 공백/,/- 등 연결할 기준 입력
result

'redbluegreenyellow'

In [5]:
# Split 함수 - String Type의 값을 나눠서 List 형태로 변환
items = 'zero one two three'.split()  # 빈칸을 기준으로 문자열 나누기
print(items)

['zero', 'one', 'two', 'three']

In [9]:
example = 'python,jquery,javascript'  # ","를 기준으로 문자열 나누기
example.split(",")

a, b, c = example.split(",")          # 리스트에 있는 각 값을 a,b,c 변수로 매핑
print(a, b, c)                        # 위의 예시로는 각각의 값들이 각각 python > a, jquery > b, javascript > c 로!

python jquery javascript

In [10]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')  # "."을 기준으로 나누기
print(subdomain, domain, tld)

cs50 gachon edu



> List comprehensions

- 기존 List 사용하여 간단히 다른 List를 만드는 기법
- 포괄적인 List, 포함되는 리스트라는 의미로 사용됨
- 파이썬에서 가장 많이 사용되는 기법 중 하나
- 일반적으로 for + append보다 속도가 빠름

In [16]:
result1 = []         # 리스트 타입 선언

for i in range(10): # 0~9까지 값이 i에 들어감
  result1.append(i)

result1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
result2 = [i for i in range(10)]
print(result2)

result3 = [i for i in range(10) if i % 2 == 0]  # 필터 추가
print(result3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [20]:
word_1 = "Hello"
word_2 = "World"
result_word = [i+j for i in word_1 for j in word_2]
print(result_word)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [26]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result_case = [i+j for i in case_1 for j in case_2]
print(result_case)

result_case_2 = [[i+j for i in case_1] for j in case_2]  # 바깥의 list가 먼저 고정됨(D가 먼저 고정)
print(result_case_2)

result_case_3 = [i+j for i in case_1 for j in case_2 if not(i==j)]  # 필터 추가 (i와 j가 같다면 List에 추가하지 않음)
print(result_case_3)

result_case_3.sort()
print(result_case_3)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [27]:
# split + list Comprehension
words = 'The quick brown fox jumps over the lazy dog'.split()  # 문장을 빈칸 기준으로 나눠 list로 변환
print(words)

# list의 각 elements들을 대문자, 소문자, 길이로 변환하여 two dimensional list로 변환
stuff= [[w.upper(), w.lower(), len(w)] for w in words]
print(stuff)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]



> Enumerate & Zip

- Enumerate - List의 element를 추출할 때 번호를 붙여서 추출
- Zip - 두 개의 list 값을 병렬적으로 추출

In [37]:
for i, v in enumerate(['tt','ta','to']):  # list에 있는 index와 값을 unpacking
  print(i,v)

mylist = ["a","b","c","d"]
list(enumerate(mylist))  # list에 있는 index와 값을 unpacking하여 list로 저장

0 tt
1 ta
2 to

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [36]:
{i:j for i,j in enumerate('Ga Uni is an academic institue located in South Korea.'.split())}

{0: 'Ga',
 1: 'Uni',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institue',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

In [38]:
# for loop + zip

alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [39]:
# list comprehension + zip

a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))  # 각 tuple의 같은 index끼리 묶음
print(a, b, c)

print([sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))]) # 각 tuple의 같은 index를 묶어 합을 list로 변환

(1, 10, 100) (2, 20, 200) (3, 30, 300)
[111, 222, 333]

In [40]:
# enumerate + zip

alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)  # index alist[index] blist[index] 표시

0 a1 b1
1 a2 b2
2 a3 b3



> Lambda

- 함수 이름 없이, 함수처럼 쓸 수 있는 익명함수
- 수학의 람다 대수에서 유래함
- Python3부터는 권장하지는 않으나 여전히 많이 쓰임

In [43]:
# 일반적인 함수
def f(x,y):
  return x + y
print(f(1,4))

# 람다 함수
f = lambda x, y: x + y
print(f(1,4))

5
5



> Map & Reduce

- Map function - Sequence 자료형(ex.리스트,튜플) 각 element에 동일한 function을 적용함
- Reduce function - map function과 달리 list에 똑같은 함수를 적용해서 통합

In [49]:
# Map

ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2
print(list(map(f, ex)))

# zip과 거의 같은 기능
f = lambda x, y: x + y
print(list(map(f, ex, ex)))

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]

In [50]:
# Reduce

from functools import reduce
print(reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]))

15



> Asterisk

- 흔히 알고 있는 *를 의미함
- 단순 곱셈, 제곱연산, 가변인자 활용 등 다양하게 사용됨

In [51]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [52]:
def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))

asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [54]:
def asterisk_test(a, *args):
    print(a, args[0])
    print(type(args))

asterisk_test(1, (2, 3, 4, 5, 6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [55]:
def asterisk_test(a, args):
    print(a, *args)   # 앞에 *를 붙여 unpacking
    print(type(args))

asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [56]:
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)

data = ([1, 2], [3, 4], [5, 6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [60]:
for data in zip(*([1, 2], [3, 4], [5, 6])):
    print(sum(data))   # 1+3+5 / 2+4+6

9
12

In [61]:
def asterisk_test(a, b, c, d, e=0):
    print(a, b, c, d, e)

data = {"d":1 , "c":2, "b":3, "e":56}
asterisk_test(10, **data)

10 3 2 1 56